<div class="container">
  <!-- wallet connect-->
  <div class="row">
    <div class="wallet-connect-address text-center pt-5">
      <h4 class="wallet-address">Wallet Address : {{ publicAddress }}</h4>
      <button class="btn btn-primary" (click)="onConnect()">Connect</button>
    </div>
  </div>
  <!-- wallet connect-->

  <!--chain Id-->
  <div class="row text-center pt-3">
    <div class="chain-id">
      <p *ngIf="chainId">Chain Id: {{ chainId }}</p>
    </div>
  </div>
  <!--chain Id-->
</div>
